# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [16]:
#We use the assignment operator (=) to assign values to a variable
a=12
b=10
print(id(a))
print(id(b))

140735173399688
140735173399624

# Multiple Assignments

In [17]:
a, b, c,d = 10, 5.5, "ML",True
print(type(a))
print(type(d))

<class 'int'>
<class 'bool'>

In [19]:
a = b = c = "AI" #assign the same value to multiple variables at once
print(a)
print(b)

AI
AI

# Storage Locations

In [49]:
x=12.2
b=12.2

print(id(x))               #print address of variable x
print(id(b))

1845191491632
1845190491280

In [5]:
y = 3

print(id(y))               #print address of variable y

93892081305352

Observation:

x and y points to same memory location

In [12]:
print("\nyasir")            #print address of variable y

yasir

# Data Types

Every value in Python has a datatype. 
Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [3]:
a=12+5J
print(type(a))

<class 'complex'>

In [4]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [6]:

b=12.456
print(isinstance(b, float))

True

# Boolean

 Boolean represents the truth values False and True

In [10]:
a = False                  #a is a boolean type
print(type(a))

<class 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [18]:
s = "This is Online AI course"
s1='this is also string'
s2="""this is also string"""
print(s[-2])


s4="""multi line
ftghj
rtgyhj
string"""
print(s4)

s
multi line
ftghj
rtgyhj
string

In [24]:
a="1234"
print(a[len(a)-1])

#last char s[len(s)-1] or s[-1]

4

In [10]:
#slicing
a="1223"
a

IndexError: string index out of range

# Python List

List is an ordered sequence of items like array
It is one of the most used datatype in Python and is very flexible. 
All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [29]:
a = [10, 20.5, "Hello", 6+7J]
print(a)
a[0]="new" #mutable
print(a)

[10, 20.5, 'Hello', (6+7j)]
['new', 20.5, 'Hello', (6+7j)]

Lists are mutable, meaning, value of elements of a list can be altered.

In [14]:
a[1] = "hello"
#change any element in a list
print(a)

[10, 'hello', 'Hello', (6+7j)]

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [30]:
t = (1, 1.5, "ML")
print(t)
#update 2nd element with string

(1, 1.5, 'ML')

In [31]:
print(t[2]) #extract particular element

ML

In [15]:
t[1] = "tyu"

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [34]:
a = {10,10,10, 30, 20, 40, 5}
print(a[2])

TypeError: 'set' object is not subscriptable

In [33]:
print(type(a))            #print type of a

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [22]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [ ]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [42]:
d = {'a': "apple", 'b': "bat", 12:"hello"}
#print(d)
print (d[12])
create dictionary that stores your basic info

hello

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [44]:
int(100.8)   #convert float to integer using int() method

100

In [ ]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [47]:
int('10a0')

ValueError: invalid literal for int() with base 10: '10a0'

In [50]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote"
      + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

We can convert one sequence to other

In [ ]:
a = [1, 2, 3]

print(type(a))      #type of a is list 
s = set(a)          #convert list to set using set() method
print(type(s))      #now type of s is set

<type 'list'>
<type 'set'>

In [27]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

In [28]:
a=12

In [29]:
del(a)

In [30]:

print(a)

NameError: name 'a' is not defined