In [2]:
txt = 'Hello, World'
new_txt = txt[1:5]
print(new_txt)

ello

In [3]:
lst = [10, 20, 30, 40, 50]
print(len(lst))

5

In [5]:
i = 0
while i < len(lst):
    print(lst[i])
    i += 1
else:
     print("Tick Tok")

10
20
30
40
50

In [7]:
lst = [10, 20, 30, 40, 50]
sum = 0
i = 0

while i < len(lst):
    sum += lst[i]
    i += 1
    
print(sum)

150

In [4]:
nums = [10, 30, 23, 45, 67 ,86, 33, 55, 21, 56]

i = 0
print("Even Numbers: ", end = '')
while i < len(nums):
    if nums[i] % 2 == 0:
        print(f"{nums[i]}, ", end = '')
    i += 1

i = 0
print("\nOdd Numbers: ", end = '')
while i < len(nums):
    if nums[i] % 2 != 0:
        print(f"{nums[i]}, ", end = '')
    i += 1

Even Numbers: 10, 30, 86, 56,
Odd Numbers: 23, 45, 67, 33, 55, 21,

In [ ]:
print(*object, kuch, sep = ',' , end = '\n')
print()

In [7]:
x = 12
print("x is", x)
print("x y z")

x is 12
x y z

In [9]:
lst = [10, 20, 30, 40, 50]
sum = 0
i = 0
for i in lst:
    sum += i

print("sum is", sum)

sum is 150

In [12]:
for i in range(1, 50, 4): #1 = start, 50 = end, 4 = gap
    print(i)

1
5
9
13
17
21
25
29
33
37
41
45
49

In [18]:
# print odd numbers between two numbers given by user
start = int(input("Start Number: "))
end = int(input("End Number :"))
                  
for i in range(start, end):
    if i % 2 != 0:
        print(i)

Start Number: 1
End Number :12
1
3
5
7
9
11

In [22]:
#multiplication table

num = int(input("Number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60