In [4]:
for i in range(-3):
    print(i)

In [5]:
for i in range(1,10,3):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (1455656037.py, line 2)

In [9]:
num=[1,2,3,4,5]
for i in num:
    if i%2==0:
        continue
    print(i)
    
else:
    print("else block")

1
3
5
else block

In [4]:
print("Name \tAge \tEligiblity")

Name 	Age 	Eligiblity